<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1 class="title">Login</h1>
  <div class="lgcontainer">
    <form action="/login" method="POST" class="lgform">
      <input class="lgname" type="text" placeholder="UserName" name="username"> <br/>
      <input class="lgpwd" type="password" placeholder="Password" name="password"> <br/>
      <button type="submit" class="lgbtn">Login</button>
    </form>
    <button class="joinbtn">Join</button>
  </div>
  <script>

    document.querySelector(".joinbtn").addEventListener('click', () => {
      window.location.href = '/join'
    })

  
    document.querySelector(".lgform").addEventListener('submit', () => {
      console.log('submitted')
    })
    



  </script>
</body>
</html>